<!-- Start Footer -->
<footer class="footer-section">
  <div class="container relative">
    <!-- Logo Image -->
    <div class="sofa-img">
      <img src="assets/images/montre.png" alt="FAYLA Logo" class="img-fluid logo-img">
    </div>

    <div class="row g-5 mb-5">
      <!-- Left Column -->
      <div class="col-lg-4">
        <div class="mb-4 footer-logo-wrap">
          <a href="#" class="footer-logo">FAYLA<span>.</span></a>
        </div>
        <p class="mb-4">
          FAYLA is an online shop offering detailed products at low prices. Enjoy our exclusive deals and high-quality selections!
        </p>
        <!-- Social Icons -->
        <ul class="list-unstyled custom-social d-flex gap-3">
          <li>
            <a href="https://www.facebook.com/profile.php?id=61550078978768&locale=fr_FR" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/faylashoop/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://wa.me/+21629064153" target="_blank">
              <i class="fab fa-whatsapp"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- Right Column -->
      <div class="col-lg-8">
        <div class="row links-wrap">
          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Shop</a></li>
              <li><a href="#">Cart</a></li>
              <li><a href="#">Checkout</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-12 text-center">
        <p class="copyright">&copy; FAYLA. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->


